.share {
    width: 100%;
    
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    
    padding: 1.4%;
  }
  
  .shareWrapper {
    padding: 10px;
  }
  
  .shareTop {
    display: flex;
    align-items: center;
  }
  
  .shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .shareInput {
    border:none;
    width: 100%;
  }
  
  .shareInput:focus {
    outline: none;
  }
  
  .shareHr {
    margin: 20px;
    color:#12c27e;
  }
  
  .shareBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .shareOptions{
      display: flex;
      margin-left: 20px;
  }
  
  .shareOption{
      display: flex;
      align-items: center;
      margin-right: 15px;
      cursor: pointer;
  }
  
  .shareIcon{
      font-size: 18px;
      margin-right: 3px;
  }
  
  .shareOptionText{
      font-size: 14px;
      font-weight: 500;
  }
  
  .shareButton{
      border: none;
      padding: 11px;
      border-radius: 5px;
      background-color: rgb(11, 122, 226);
      font-weight: 500;
      margin-right: 20px;
      cursor: pointer;
      color: white;
      font-size: 1rem;
  }
  .shareButton:hover{
    background-color: rgb(10, 79, 145);

  }
  .cancelShare{
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    opacity: 0.7;
  }
  .sharepostImg{
    width: 100%;
    object-fit: cover;
  }
  .imgDiv{
    padding: 0 20px 10px 20px;
    position: relative;
  }